.tile {
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
}

.tile .chess-piece {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85px;
}

.tile .chess-piece:hover {
    cursor: grab;
}

.tile .chess-piece:active {
    cursor: grabbing;
}

#chessboard .black-tile {
    background-color: #7aa2ad;
}

#chessboard .white-tile {
    background-color: ivory;
}

.tile img  {
    width: 80px;
}